<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
      <article class="workoutlist maincontent">
        <div class="workout-info">
        <% workouts.forEach(function (workout) {%>
        <div class="mb-4">
          <h4 class="workoutlist-title"><%=workout.day_of_week%></h4>
          <div class="workoutlist-name">
            <a href="/speakers/<%=workout.type%>"><%=workout.type%></a>
            <div> rep/duration: <%=workout.rep_range%> </div>
            <div> sets: <%=workout.set_range%> </div>
          </div>
          <div class="row workoutlist-info mt-2">
            <div class="col-sm-3">
              <a href="/speakers/<%=workout.rep_range%>">
                <img
                  class="workoutlist-img rounded-circle img-fluid"
                  src="/images/fitness/<%=workout.type%>.jpg"
                  alt="Photo of <%=workout.type%>"
                />
              </a>
            </div>
            <div class="col-sm-9">
              <% workout.exercises.forEach( exercise => {%>
                <ul>
                  <li><%=exercise%></li>
                </ul>
              <% }); %>
            </div>
          </div>
        </div>
        <%})%>
      </div>
        <%- include("./partials/update") %>
      </article>
    </div>
    <aside class="col-sm-4">
      <div class="workout-status">
        <% if (locals.errors) {%>
        <div class="alert alert-danger">
          <ul>
            <% errors.forEach(error=>{%>
              <li><%=error.msg%></li>
            <%})%>
          </ul>
        </div>
        <%} else if (locals.successMessage) {%>
        <div class="alert alert-success">
          <%=successMessage %>
        <%}%>
        </div>
      </div>
    </aside>
  </div>
</div>
<script src="/javascripts/fitness.js"></script>
